/* TextField styling */
.text-field {
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-min-width: 200px;
    -fx-text-fill: #000000; /* Text color */
}

/* Button styling */
.button {
    -fx-background-color: #611623; /* Button background color */
    -fx-text-fill: #EEEEEC; /* Text color */
    -fx-padding: 10px 20px;
    -fx-border-color: #800000; /* Maroon border */
    -fx-border-width: 2px;
}

/* Button hover effect */
.button:hover {
    -fx-background-color: #FFCA16; /* Lighter orange for hover effect */
    -fx-text-fill: #611623; /* Text color change on hover */
}

/* VBox background color */
.vbox {
    -fx-background-color: #191111;
}

/* ImageView border color */
.image-view {
    -fx-border-color: #714F19; /* Border color for the top image */
    -fx-border-width: 2px; /* Border width */
}

/* Apply the .vbox style class to your VBox in FXML */
/* Apply the .image-view style class to your ImageViews in FXML */