Pane {
    -fx-background-color: #191111;
}

SplitPane {
    -fx-background-color: #201314;
}

Label {
    -fx-text-fill: #EEEEEC;
}

Button {
    -fx-background-color: #611623;
    -fx-text-fill: #EEEEEC;
    -fx-padding: 10px 20px;
    -fx-border-color: #714F19;
    -fx-border-width: 2px;
}

Button:hover {
    -fx-background-color: #FFD700;
    -fx-text-fill: #611623;
}

.date-picker .text-field {
    -fx-control-inner-background: #EEEEEC;
    -fx-background-color: #EEEEEC;
    -fx-text-fill: #FFFFFF;
}